* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #2de6e9, #34dee1, #07d0fc);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-height: 100vh;
}

.circle {
  /* align-self: self-start; */
  background-color: #17b094;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  outline: 2px solid #fff;
  /* position: relative; */
  animation: slidein 3s infinite alternate;
  /*  */
  /* animation: myAnimation 5s linear 2s infinite alternate; */
  z-index: -1;
  /* transition: infinite .5s ease-in-out; */
}

.circle.two {
  animation: slideIn 3s infinite alternate;
}

@keyframes slidein {
  0% {background-color: green};

  25% {background-color: yellow};

  75% {background-color: blue};

  100% {background-color: red};

  from {
    transform: matrix(1, -0.3, 0, 1, 0, 0); /* Starting position */
}
  to {
    transform: scale(-1.5); /* Ending position */
  }

  /* from {
    transform: translateX(0px); /* Starting position *
  }
  to {
    transform: translateX(500px); /* Ending position *
  } */
}

@keyframes slideIn {
  0% {background-color: yellow};

  25% {background-color: green};

  75% {background-color: red};

  100% {background-color: blue};

  from {
    transform: scale(2); /* Starting position */
}
  to {
    transform: scale(-1.5); /* Ending position */
  }
}

/* @keyframes myAnimation {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:400px; top:0px;}
  50%  {background-color:blue; left:400px; top:150px;}
  75%  {background-color:green; left:0px; top:150px;}
  100% {background-color:red; left:0px; top:0px;}
} */
.cal-body {
  display: flex;
  flex-direction: column;
  background-color: #444343;
  padding: 1em;
  gap: 1em;
  border-radius: 5px;
  border: 4px solid #000;
  outline: 4px solid #fff;
  box-shadow: 2px 6px 10px #000;
  transition: all 0.4s ease-in-out;
}

.user-result {
  color: #fff;
  font-size: 12px;
}

.user-output {
  background-color: #fff;
  columns: #000;
  border-radius: 2px;
  padding: .5em;
}

.btns {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
}

.btns button {
  padding: .5em .8em;
  margin: .2em;
  font-size: 13px;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
  transform: rotate3d(90deg);
  border: none;
  border-radius: 5px;
  text-align: center;
}